
/* ----- contentpanels.css ----- */
@media all {
/*  (do not remove this :) */

.cpPanels .cpPanel {
    margin: 1em 0 0 0;
}

.cpPanelsHeading {
   background-color: lavender;
   white-space: nowrap;
   text-align: right;
}

.cpPanelsHeading .cpPanelsHeadingInput,
.cpPanelHeading .cpPanelsHeadingInput {
    float: left;
}

.cpPanelHeading {
   background-color: lavender;
}

.cpPanelHeading td {
    text-align: right
}

.cpViewletItem a {
    white-space: nowrap;
}

.cpViewletItem span {
    white-space:nowrap;
    background-color: lightgreen;
}

/* Editing */

.cpEditFormInputValues {
    float: left;
}

.cpEditFormSubmitButtons {
    float: right;
}

.cpRelatedContent li.cpRelatedItem{
    display: inline;
}

/*
** end content style
** ------------------------------
** begin page tab
*/

.cpPages {
    text-align:right;
}

.cpPages li {
    display: inline;
}

.cpPages li a {    
    font-size: 90%;
    background-color: transparent;
    border: 1px solid #74ae0b;
    color: #578308;
    margin-right: 0.5em;
    padding: 0em 1em;
    text-decoration: none;
    text-transform: lowercase;
    z-index: 1;
}
.cpPages li.selected a {
    background-color: #cde2a7;
    color: #578308;
}
.cpPages li a:hover {
    background-color: #cde2a7;
    color: #578308;
}

/*
** begin viewlet skins
*/

.documentContent .portletContent {
    padding: 0.5em;
}

/* common viewlet skins, fix plone portlet css */

/* default viewlet skins */

/* no title skin */
.notitlePortletWrapper div h5 {
    display: none;
}

.notitlePortletWrapper .portletBody {
    border: none;
}

/* zopezen skin */
.zopezenPortletWrapper div h5 {
    background-color: White;
    font-style: normal;
    border: none;
    text-transform: capitalize;
}

.zopezenPortletWrapper .portletBody {
    border: none;
    border-top: 1px solid black;
}

/* default box */
.boxPortletWrapper h5 {
  margin: 0 0 0 0;
  display: block
}

/* Alert skin */
.alertPortletWrapper h5 {
    background: #ffa500;
    font-weight: bold;
    border-color: #ffa500;
    text-transform: uppercase;
}

.alertPortletWrapper .portletBody {
    background-color: #ffce7b;
    padding-left: 2.5em;
    background-image: url(/info_icon.gif);
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.alertPortletWrapper .portletContent {
    padding: 0em;
}

/* dotted skin */
.dottedPortletWrapper div h5, .zopezenPortletWrapper div h5 {
    background: White;
    font-weight: bold;
    border: none;
    padding-left: 0em;
    text-transform: capitalize;
    color: Black;
}

.dottedPortletWrapper h5 a, .zopezenPortletWrapper h5 a {
    color: Black !important;
}

.dottedPortletWrapper  .portletBody {
    border: 2px dotted #ececec;
}

/* ZopeZen skin */
.zopezenPortletWrapper .portletBody {
    border: none;
    border-top: 2px solid #ececec;
}

/* Rounded skin */

.roundedPortletWrapper .portlet {
  position: relative;
  background: url("cp_skins/rounded/portlet_shadow.gif") top right repeat-y;
  padding-right: 8px;
}

  /* The Holly Hack. IE/Win needs it but IE/Mac does not */
   html .portlet {height: 1%;}
  /* End hide from IE5-mac */

.roundedPortletWrapper div h5 {
  /* The next line is in plone.css for Plone 2.05, so using this 
     version you need only z-index declaration */
     position: relative; 
     z-index: 2;
     background: #3299e3 url("cp_skins/rounded/portlet_header_bg.gif") top left repeat;
     display: block;
     color: white;
     font-weight: bold;
     padding: 0.3em 0.5em 0em 1em;
     border-color: #3299e3;
     height: 1.5em !important;
}

  /* The next style fixes some wired behavior of portlets when you see something
     like two lines at the bottom of some portlets */
.roundedPortletWrapper .portletBody {
     border-color: #3299e3;
     border-bottom-color: transparent;
}

.roundedPortletWrapper span.topLeft {
  height: 4px;
  width: 4px;
  border: 0;
  position: absolute;
  top: -1px; /* if you're using Plone < 2.05 - use "top: 0;" */
  z-index: 3;
  left: 0;
  background: transparent url("cp_skins/rounded/portlet_tl.gif") top left no-repeat;
}

.roundedPortletWrapper span.topRight {
  height: 9px;
  width: 12px;
  border: 0;
  position: absolute;
  top: -1px; /* if you're using Plone < 2.05 - use "top: 0;" */
  z-index: 3;
  right: 0;
  background: transparent url("cp_skins/rounded/portlet_tr.gif") top right no-repeat;
}

  /* IE/Win needs one extra-pixel */
   html span.topRight { margin-right: 1px; }
  /* End hide from IE5-mac */

.roundedPortletWrapper span.botRight {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  height: 12px;
  width: 100%;
  margin-right: 0;
  margin-bottom: -8px;
  background: transparent url("cp_skins/rounded/portlet_br.gif") bottom right no-repeat;
}

  /* The same problem with IE/Win */
   html span.botRight { margin-right: -1px; }
  /* End hide from IE5-mac */

.roundedPortletWrapper span.botLeft {
  height: 12px;
  width: 9px;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: transparent url("cp_skins/rounded/portlet_bl.gif") bottom left no-repeat;
  margin-bottom: -8px;
}

.imageNewsImage {
  float: left;
  margin: 0.5em;
}

.imageNewsTitle {
  font-weight:bold;
}

.viewlet-rss-link{
  padding-right: 2px; 
  float: right; 
  display: block;
}
/*   */

}


/* ----- contentpanelsCustom.css ----- */
@media all {
/* You can costomize this file to add your viewlet skin in 2 steps.

1. add your viewlet css definition, for example, the zopezen skin:

.zopezenPortletWrapper h5 {
    background: & dtml-backgroundColor ;;
    font-style: normal;
    border: none;
    text-transform: capitalize;
}

.zopezenPortletWrapper .portletBody {
    background: #FCFCFC;
    border: none;
    border-top: 1px solid black;
}

2. register it at ZMI portal_contentpanels
*/

/*  (do not remove this :) */

/* remove this line, add your viewlets css here*/

/*   */


}


/* ----- ploneCustom.css ----- */
@media all {
/*
 *  This is the file where you put your CSS changes. 
 *  You should preferrably use this and override the 
 *  relevant properties you want to change here instead 
 *  of customizing plone.css to survive upgrades. Writing
 *  your own plone.css only makes sense for very heavy 
 *  customizations. Useful variables from Plone are 
 *  documented at the bottom of this file.
 */
 
/*  (do not remove this :) */
/*  (not this either :) */



#portal-breadcrumbs {
  border-bottom: none;
}

.portlet#portlet-navigation-tree {
  border: none;
}

#portlet-navigation-tree .portletItem {
  border: none;
  padding-left: 0em;
  padding-right: 0.5em;
}


/*  */

/* DOCUMENTATION ON PRE-DEFINED PROPERTIES FROM PLONE */

 /* You can insert colors and other variables from Plone's 
    base_properties by doing:
    
    & dtml-variableName ; (without the spaces, excluded here to not make it render)
    
    Example:
    
    myLink {
        color: & dtml-fontColor ;   (again, without the spaces)
    }
 
   This means you can generate your own elements that use Plone's defaults,
   and respect any customizations people have done. See base_properties for
   the default values.
 
   These are the available properties:
   
   logoName - the file name of the portal logo
   
   fontFamily - the font family used for all text that is not headers
   
   fontBaseSize - the base font size that everything is calculated from
   
   fontColor - the main font color
   
   fontSmallSize - used for various elements like buttons and discreet text
   
   discreetColor - the font color of discreet text

   backgroundColor - the background color 
   
   linkColor - the color used on normal links

   linkActiveColor - color used on active links

   linkVisitedColor - color used on visited links
   
   borderWidth - the width of most borders in Plone
   
   borderStyle - the style of the border lines, normally solid
   
   borderStyleAnnotations - style of border lines on comments etc
   
   globalBorderColor - the border color used on the main tabs, the portlets etc
   
   globalBackgroundColor - background color for the selected tabs, portlet headings etc
   
   globalFontColor - the color of the font in the tabs and in portlet headings
   
   headingFontFamily - font family for h1/h2/h3/h4/h5/h6 headlines
   
   contentViewBorderColor - the content view tabs border color
   
   contentViewBackgroundColor - the content view tabs background color
   
   contentViewFontColor - the font color used in the content view tabs
   
   inputFontColor - the font color used for input elements
   
   textTransform - whether to lowercase text in portlets, tabs etc.
   
   evenRowBackgroundColor - the background color of even rows in listings
   
   oddRowBackgroundColor - the background color of even rows in listings
   
   notifyBorderColor - border color of notification elements like the status message, the calendar focus
   
   notifyBackgroundColor - background color of notification elements like the status message, the calendar focus
   
   helpBackgroundColor - background color of information pop-ups (currently not used)
          
 */

}

